{"openapi":"3.1.0","info":{"title":"Zora SDK API","description":"Access to Zora data for SDK users","version":"1.0.0"},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"api-key"}},"schemas":{}},"security":[{"apiKey":[]}],"servers":[{"url":"https://api-sdk.zora.engineering/","description":"SDK API Production Server"},{"url":"https://api-sdk-staging.zora.engineering/","description":"SDK API Staging Server"},{"url":"http://localhost:8787/","description":"SDK API Local Server"}],"paths":{"/apiKey":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"apiKey":{"type":"object","properties":{"apiKey":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"isActive":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."}},"required":["apiKey","isActive"],"nullable":false}},"required":["apiKey"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetApiKey","parameters":[{"name":"apiKey","in":"query","schema":{"type":"string","nullable":false},"required":true}],"summary":"zoraSDK_apiKey query"}},"/coin":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"name":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"description":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"address":{"type":"string","nullable":false},"coinType":{"type":"string","enum":["CREATOR","CONTENT","TREND"],"nullable":false},"symbol":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalSupply":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalVolume":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"volume24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"createdAt":{"type":"string","nullable":true,"description":"Date with time (isoformat)"},"creatorAddress":{"type":"string","nullable":true},"poolCurrencyToken":{"type":"object","properties":{"address":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"name":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"decimals":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."}},"nullable":true},"tokenPrice":{"type":"object","properties":{"priceInUsdc":{"type":"string","nullable":true,"description":"Price of the pool in respect to USDC, not always available"},"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"priceInPoolToken":{"type":"string","nullable":false,"description":"Price against the native token of the primary currency pool"}},"required":["currencyAddress","priceInPoolToken"],"nullable":true},"marketCap":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"marketCapDelta24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"chainId":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tokenUri":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"platformReferrerAddress":{"type":"string","nullable":true},"payoutRecipientAddress":{"type":"string","nullable":true},"creatorProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true},"socialAccounts":{"type":"object","properties":{"instagram":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"tiktok":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"twitter":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"farcaster":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true}},"nullable":false},"creatorCoin":{"type":"object","properties":{"address":{"type":"string","nullable":false}},"required":["address"],"nullable":true}},"required":["id","handle","platformBlocked","socialAccounts"],"nullable":true},"mediaContent":{"type":"object","properties":{"mimeType":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"originalUri":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"previewImage":{"type":"object","properties":{"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":true},"videoPreviewUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"videoHlsUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["originalUri"],"nullable":true},"uniqueHolders":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"uniswapV4PoolKey":{"type":"object","properties":{"token0Address":{"type":"string","nullable":false},"token1Address":{"type":"string","nullable":false},"fee":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tickSpacing":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"hookAddress":{"type":"string","nullable":false}},"required":["token0Address","token1Address","fee","tickSpacing","hookAddress"],"nullable":false},"uniswapV3PoolAddress":{"type":"string","nullable":false},"zoraComments":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nonce":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"userAddress":{"type":"string","nullable":false},"txHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"timestamp":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"userProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true}},"required":["commentId","nonce","userAddress","txHash","comment","timestamp"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false},"creatorEarnings":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"object","properties":{"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"amountRaw":{"type":"string","nullable":false,"description":"Raw amount of the currency, in wei. Not formatted with decimals"},"amountDecimal":{"type":"number","format":"float","nullable":false,"description":"Amount of the currency, in float format accounting for currency decimals"}},"required":["currencyAddress","amountRaw","amountDecimal"],"nullable":false},"amountUsd":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["amount"]},"nullable":true}},"required":["id","platformBlocked","name","description","address","coinType","symbol","totalSupply","totalVolume","volume24h","marketCap","marketCapDelta24h","chainId","uniqueHolders","uniswapV4PoolKey","uniswapV3PoolAddress","zoraComments"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoin","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false}],"summary":"zoraSDK_coin query"}},"/coinComments":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"zoraComments":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nonce":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"userAddress":{"type":"string","nullable":false},"txHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"timestamp":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"userProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true},"replies":{"type":"object","properties":{"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nonce":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"userAddress":{"type":"string","nullable":false},"txHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"timestamp":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"userProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true}},"required":["commentId","nonce","userAddress","txHash","comment","timestamp"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["count","edges"],"nullable":false}},"required":["commentId","nonce","userAddress","txHash","comment","timestamp","replies"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false}},"required":["zoraComments"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinComments","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"count","in":"query","schema":{"type":"integer","nullable":true,"default":10},"required":false}],"summary":"zoraSDK_coinComments query"}},"/coinHolders":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"tokenBalances":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"balance":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"ownerAddress":{"type":"string","nullable":false},"ownerProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle","platformBlocked"],"nullable":false}},"required":["balance","ownerAddress","ownerProfile"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false}},"required":["tokenBalances"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinHolders","parameters":[{"name":"chainId","in":"query","schema":{"type":"integer","nullable":false},"required":true},{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"count","in":"query","schema":{"type":"integer","nullable":true,"default":25},"required":false}],"summary":"zoraSDK_coinHolders query"}},"/coinMergedComments":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"comments":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nonce":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"userAddress":{"type":"string","nullable":false},"txHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"timestamp":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"userProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true},"replies":{"type":"object","properties":{"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"contractAddress":{"type":"string","nullable":false},"text":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"commentedAt":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"replyToOnChainId":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"replyToOffChainId":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"sparkCount":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"profile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true}},"required":["commentId","contractAddress","text","commentedAt","sparkCount"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["count","edges"],"nullable":false},"contractAddress":{"type":"string","nullable":false},"text":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"commentedAt":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"replyToOnChainId":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"replyToOffChainId":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"sparkCount":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"profile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true}},"required":["commentId","nonce","userAddress","txHash","comment","timestamp","replies","contractAddress","text","commentedAt","sparkCount"],"nullable":false,"description":"A comment from any source in the merged feed: an on-chain comment (`GraphQLComment`), a backfilled on-chain comment (`GraphQLBackfilledComment`), or an off-chain comment (`GraphQLOffChainComment`)."}},"required":["node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false}},"required":["comments"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinMergedComments","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"count","in":"query","schema":{"type":"integer","nullable":true,"default":10},"required":false}],"summary":"zoraSDK_coinMergedComments query"}},"/coinPriceHistory":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"oneHour":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"closePrice":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["timestamp","closePrice"]},"nullable":false},"oneDay":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"closePrice":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["timestamp","closePrice"]},"nullable":false},"oneWeek":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"closePrice":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["timestamp","closePrice"]},"nullable":false},"oneMonth":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"closePrice":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["timestamp","closePrice"]},"nullable":false},"all":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"closePrice":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["timestamp","closePrice"]},"nullable":false}},"required":["oneHour","oneDay","oneWeek","oneMonth","all"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinPriceHistory","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false}],"summary":"zoraSDK_coinPriceHistory query"}},"/coinSwaps":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"swapActivities":{"type":"object","properties":{"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"currencyAmountWithPrice":{"type":"object","properties":{"priceUsdc":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"currencyAmount":{"type":"object","properties":{"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"amountDecimal":{"type":"number","format":"float","nullable":false,"description":"Amount of the currency, in float format accounting for currency decimals"}},"required":["currencyAddress","amountDecimal"],"nullable":false}},"required":["currencyAmount"],"nullable":false},"senderAddress":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"recipientAddress":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"transactionHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"coinAmount":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"blockTimestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"activityType":{"type":"string","enum":["BUY","SELL"],"nullable":true},"senderProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle","platformBlocked"],"nullable":true}},"required":["id","currencyAmountWithPrice","senderAddress","recipientAddress","transactionHash","coinAmount","blockTimestamp"],"nullable":false},"cursor":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["node","cursor"]},"nullable":false},"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false}},"required":["count","edges","pageInfo"],"nullable":false}},"required":["swapActivities"],"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinSwaps","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true,"default":null},"required":false},{"name":"first","in":"query","schema":{"type":"integer","nullable":true,"default":10},"required":false}],"summary":"zoraSDK_coinSwaps query"}},"/coins":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Tokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"name":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"description":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"address":{"type":"string","nullable":false},"coinType":{"type":"string","enum":["CREATOR","CONTENT","TREND"],"nullable":false},"symbol":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalSupply":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalVolume":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"volume24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"createdAt":{"type":"string","nullable":true,"description":"Date with time (isoformat)"},"creatorAddress":{"type":"string","nullable":true},"poolCurrencyToken":{"type":"object","properties":{"address":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"name":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"decimals":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."}},"nullable":true},"tokenPrice":{"type":"object","properties":{"priceInUsdc":{"type":"string","nullable":true,"description":"Price of the pool in respect to USDC, not always available"},"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"priceInPoolToken":{"type":"string","nullable":false,"description":"Price against the native token of the primary currency pool"}},"required":["currencyAddress","priceInPoolToken"],"nullable":true},"marketCap":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"marketCapDelta24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"chainId":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tokenUri":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"platformReferrerAddress":{"type":"string","nullable":true},"payoutRecipientAddress":{"type":"string","nullable":true},"creatorProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true},"socialAccounts":{"type":"object","properties":{"instagram":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"tiktok":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"twitter":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"farcaster":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true}},"nullable":false},"creatorCoin":{"type":"object","properties":{"address":{"type":"string","nullable":false}},"required":["address"],"nullable":true}},"required":["id","handle","platformBlocked","socialAccounts"],"nullable":true},"mediaContent":{"type":"object","properties":{"mimeType":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"originalUri":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"previewImage":{"type":"object","properties":{"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":true},"videoPreviewUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"videoHlsUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["originalUri"],"nullable":true},"uniqueHolders":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"uniswapV4PoolKey":{"type":"object","properties":{"token0Address":{"type":"string","nullable":false},"token1Address":{"type":"string","nullable":false},"fee":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tickSpacing":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"hookAddress":{"type":"string","nullable":false}},"required":["token0Address","token1Address","fee","tickSpacing","hookAddress"],"nullable":false},"uniswapV3PoolAddress":{"type":"string","nullable":false},"zoraComments":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nonce":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"userAddress":{"type":"string","nullable":false},"txHash":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"timestamp":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"userProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":false}},"required":["previewImage"],"nullable":true}},"required":["id","handle"],"nullable":true}},"required":["commentId","nonce","userAddress","txHash","comment","timestamp"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false},"creatorEarnings":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"object","properties":{"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"amountRaw":{"type":"string","nullable":false,"description":"Raw amount of the currency, in wei. Not formatted with decimals"},"amountDecimal":{"type":"number","format":"float","nullable":false,"description":"Amount of the currency, in float format accounting for currency decimals"}},"required":["currencyAddress","amountRaw","amountDecimal"],"nullable":false},"amountUsd":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["amount"]},"nullable":true}},"required":["id","platformBlocked","name","description","address","coinType","symbol","totalSupply","totalVolume","volume24h","marketCap","marketCapDelta24h","chainId","uniqueHolders","uniswapV4PoolKey","uniswapV3PoolAddress","zoraComments"]},"nullable":false,"description":"Batch-resolve Zora ERC-20 coins. Returns nulls for unknown IDs. Preserves input order."}},"required":["zora20Tokens"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoins","parameters":[{"name":"coins","in":"query","schema":{"type":"array","items":{"type":"object","properties":{"chainId":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"collectionAddress":{"type":"string","nullable":false}},"required":["chainId","collectionAddress"],"nullable":false},"nullable":false},"required":true}],"summary":"zoraSDK_coins query"}},"/coinsList":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"coinsBasicInfo":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"},"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."}},"required":["hasNextPage"],"nullable":false},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"coinType":{"type":"string","enum":["CREATOR","CONTENT","TREND"],"nullable":false},"priceUsdc":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"entityName":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"name":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"symbol":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"uri":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"coinAddress":{"type":"string","nullable":false},"createdUserAddress":{"type":"string","nullable":false},"createdTimestamp":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."}},"required":["coinType","entityName","coinAddress","createdUserAddress","createdTimestamp","platformBlocked"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["pageInfo","edges"],"nullable":false}},"required":["coinsBasicInfo"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCoinsList","parameters":[{"name":"first","in":"query","schema":{"type":"integer","nullable":false,"default":1000},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"includeUSDCPrice","in":"query","schema":{"type":"boolean","nullable":false,"default":true},"required":false}],"summary":"zoraSDK_coinsList query"}},"/contentCoinPoolConfig":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"contentCoinPoolConfig":{"type":"object","properties":{"encodedConfig":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"currency":{"type":"string","nullable":false},"lowerTicks":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"upperTicks":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"numDiscoveryPositions":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"maxDiscoverySupplyShares":{"type":"array","items":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nullable":false}},"required":["encodedConfig","currency","lowerTicks","upperTicks","numDiscoveryPositions","maxDiscoverySupplyShares"],"nullable":false}},"required":["contentCoinPoolConfig"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetContentCoinPoolConfig","parameters":[{"name":"creatorIdentifier","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"currencyType","in":"query","schema":{"type":"string","enum":["ETH","ZORA","CREATOR_COIN","CREATOR_COIN_OR_ZORA","CUSTOM_COIN"],"nullable":false},"required":true}],"summary":"zoraSDK_contentCoinPoolConfig query"}},"/createUploadJWT":{"post":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"createUploadJwtFromApiKey":{"type":"string","nullable":false,"description":"Generate a signed JWT for media uploads, authenticated via API key."}},"required":["createUploadJwtFromApiKey"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"SetCreateUploadJWT","parameters":[],"summary":"zoraSDK_createUploadJWT mutation","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"creatorAddress":{"type":"string","nullable":false}},"required":["creatorAddress"]}}}}}},"/creatorCoinPoolConfig":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"creatorCoinPoolConfig":{"type":"object","properties":{"encodedConfig":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"currency":{"type":"string","nullable":false},"lowerTicks":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"upperTicks":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"numDiscoveryPositions":{"type":"array","items":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"nullable":false},"maxDiscoverySupplyShares":{"type":"array","items":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"nullable":false}},"required":["encodedConfig","currency","lowerTicks","upperTicks","numDiscoveryPositions","maxDiscoverySupplyShares"],"nullable":false}},"required":["creatorCoinPoolConfig"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCreatorCoinPoolConfig","parameters":[{"name":"targetMarketCapUsd","in":"query","schema":{"type":"integer","nullable":true},"required":false}],"summary":"zoraSDK_creatorCoinPoolConfig query"}},"/creatorLivestreamComments":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"zora20Token":{"type":"object","properties":{"creatorProfile":{"type":"object","properties":{"liveStream":{"type":"object","properties":{"comments":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"edges":{"type":"array","items":{"type":"object","properties":{"cursor":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"node":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"commentId":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"commentedAt":{"type":"string","nullable":false,"description":"Date with time (isoformat)"},"comment":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"profile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true},"socialAccounts":{"type":"object","properties":{"instagram":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"tiktok":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"twitter":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"farcaster":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true}},"nullable":false},"creatorCoin":{"type":"object","properties":{"address":{"type":"string","nullable":false}},"required":["address"],"nullable":true}},"required":["id","handle","platformBlocked","socialAccounts"],"nullable":true}},"required":["id","commentId","commentedAt","comment"],"nullable":false}},"required":["cursor","node"]},"nullable":false}},"required":["pageInfo","count","edges"],"nullable":false}},"required":["comments"],"nullable":true}},"nullable":true}},"nullable":true}}}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetCreatorLivestreamComments","parameters":[{"name":"address","in":"query","schema":{"type":"string","nullable":false},"required":true},{"name":"chain","in":"query","schema":{"type":"integer","nullable":true,"default":8453},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false},{"name":"count","in":"query","schema":{"type":"integer","nullable":false,"default":20},"required":false}],"summary":"zoraSDK_creatorLivestreamComments query"}},"/explore":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"exploreList":{"type":"object","properties":{"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"name":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"description":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"address":{"type":"string","nullable":false},"coinType":{"type":"string","enum":["CREATOR","CONTENT","TREND"],"nullable":false},"symbol":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalSupply":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"totalVolume":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"volume24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"createdAt":{"type":"string","nullable":true,"description":"Date with time (isoformat)"},"creatorAddress":{"type":"string","nullable":true},"poolCurrencyToken":{"type":"object","properties":{"address":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"name":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"decimals":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."}},"nullable":true},"tokenPrice":{"type":"object","properties":{"priceInUsdc":{"type":"string","nullable":true,"description":"Price of the pool in respect to USDC, not always available"},"currencyAddress":{"type":"string","nullable":false,"description":"Ethereum address of the currency"},"priceInPoolToken":{"type":"string","nullable":false,"description":"Price against the native token of the primary currency pool"}},"required":["currencyAddress","priceInPoolToken"],"nullable":true},"marketCap":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"marketCapDelta24h":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"chainId":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tokenUri":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"platformReferrerAddress":{"type":"string","nullable":true},"payoutRecipientAddress":{"type":"string","nullable":true},"creatorProfile":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."},"platformBlocked":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"avatar":{"type":"object","properties":{"previewImage":{"type":"object","properties":{"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["medium","small"],"nullable":false}},"required":["previewImage"],"nullable":true},"socialAccounts":{"type":"object","properties":{"instagram":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"tiktok":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"twitter":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true},"farcaster":{"type":"object","properties":{"username":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"displayName":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"followerCount":{"type":"integer","nullable":true,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"id":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"nullable":true}},"nullable":false},"creatorCoin":{"type":"object","properties":{"address":{"type":"string","nullable":false}},"required":["address"],"nullable":true}},"required":["id","handle","platformBlocked","socialAccounts"],"nullable":true},"mediaContent":{"type":"object","properties":{"mimeType":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"originalUri":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"previewImage":{"type":"object","properties":{"small":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"medium":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"blurhash":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["small","medium"],"nullable":true},"videoPreviewUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."},"videoHlsUrl":{"type":"string","nullable":true,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["originalUri"],"nullable":true},"uniqueHolders":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"uniswapV4PoolKey":{"type":"object","properties":{"token0Address":{"type":"string","nullable":false},"token1Address":{"type":"string","nullable":false},"fee":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"tickSpacing":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"hookAddress":{"type":"string","nullable":false}},"required":["token0Address","token1Address","fee","tickSpacing","hookAddress"],"nullable":false},"uniswapV3PoolAddress":{"type":"string","nullable":false}},"required":["id","platformBlocked","name","description","address","coinType","symbol","totalSupply","totalVolume","volume24h","marketCap","marketCapDelta24h","chainId","uniqueHolders","uniswapV4PoolKey","uniswapV3PoolAddress"],"nullable":false},"cursor":{"type":"string","nullable":false,"description":"The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text."}},"required":["node","cursor"]},"nullable":false},"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false}},"required":["edges","pageInfo"],"nullable":false}},"required":["exploreList"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetExplore","parameters":[{"name":"listType","in":"query","schema":{"type":"string","enum":["TOP_GAINERS","TOP_VOLUME_24H","MOST_VALUABLE","MOST_VALUABLE_TRENDS","NEW","NEW_TRENDS","OLD","LAST_TRADED","LAST_TRADED_UNIQUE","FEATURED","FEATURED_VIDEOS","NEW_CREATORS","MOST_VALUABLE_CREATORS","FEATURED_CREATORS","TOP_VOLUME_CREATORS_24H","TOP_VOLUME_ALL_24H","NEW_ALL","TRENDING_POSTS","TRENDING_TRENDS","TRENDING_CREATORS","TRENDING_ALL","TOP_VOLUME_TRENDS_24H","MOST_VALUABLE_ALL","TRENDING_AGENTS","MOST_VALUABLE_AGENTS"],"nullable":false},"required":true},{"name":"count","in":"query","schema":{"type":"integer","nullable":true,"default":10},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false}],"summary":"zoraSDK_explore query"}},"/featuredCreators":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"traderLeaderboardFeaturedCreators":{"type":"object","properties":{"count":{"type":"integer","nullable":false,"description":"The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1."},"pageInfo":{"type":"object","properties":{"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"},"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."}},"required":["hasNextPage"],"nullable":false},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"handle":{"type":"string","nullable":false,"description":"Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead."}},"required":["id","handle"],"nullable":false}},"required":["node"]},"nullable":false}},"required":["count","pageInfo","edges"],"nullable":false}},"required":["traderLeaderboardFeaturedCreators"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}},"operationId":"GetFeaturedCreators","parameters":[{"name":"year","in":"query","schema":{"type":"integer","nullable":true},"required":false},{"name":"week","in":"query","schema":{"type":"integer","nullable":true},"required":false},{"name":"first","in":"query","schema":{"type":"integer","nullable":true},"required":false},{"name":"after","in":"query","schema":{"type":"string","nullable":true},"required":false}],"summary":"zoraSDK_featuredCreators query"}},"/latestLiveStreams":{"get":{"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"latestLiveStreams":{"type":"object","properties":{"pageInfo":{"type":"object","properties":{"endCursor":{"type":"string","nullable":true,"description":"When paginating forwards, the cursor to continue."},"hasNextPage":{"type":"boolean","nullable":false,"description":"When paginating forwards, are there more items?"}},"required":["hasNextPage"],"nullable":false},"edges":{"type":"array","items":{"type":"object","properties":{"node":{"type":"object","properties":{"id":{"type":"string","nullable":false,"description":"The Globally Unique ID of this object"},"isOnline":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"isActive":{"type":"boolean","nullable":false,"description":"The `Boolean` scalar type represents `true` or `false`."},"concurren
[...]
